{%extends 'layout.html'%}
{%block content%}
<div class="container-fluid d-grid">
    <h1
      id="about-us-title"
      class="mx-auto mt-2 mb-5 fw-bold font-monospace border-bottom border-danger"
    >
      SOS Hotline in Kenya
    </h1>
    <div class="container-sm mx-auto">
        <ul class="list-group">
            <li class="list-group-item"><h4>Mental 360 - Kenyan youth-led mental health org offering helpline services & wellness support.</h4>Contact Number: +254-710-360-360 <br><a class="link-info text-decoration-none" href="https://mental360.or.ke/" target="_blank">https://mental360.or.ke/</a></li>
            <li class="list-group-item"><h4>Befrienders Kenya - Available for call, SMS or WhatsApp.</h4>Contact Number: +254-722-178-177 <br><a class="link-info text-decoration-none" href="https://lifeline-international.com/member/kenya/" target="_blank">https://www.befrienders.org.my</a><br><a class="link-info text-decoration-none" href="https://lifeline-international.com/member/kenya/" target="_blank">Check Out Other Area</a></li>
            <li class="list-group-item"><h4>Kamili Mental Health Organisation - Located in Nairobi. Provides mental health counselling & community-based support</h4>
                Contact Number: +254-700-327-701<br>
                <a class="link-info text-decoration-none" href="https://www.kamilimentalhealth.org/" target="_blank">https://www.kamilimentalhealth.org/</a></li>
            <li class="list-group-item"><h4>Kenya Red Cross Society - Free counselling & psychological support.</h4>
                Contact Number: 1199 / 0700-395-395 / 0738-395-395<br>
                <a class="link-info text-decoration-none" href="https://www.redcross.or.ke/" target="_blank">https://www.redcross.or.ke/</a></li>
            <li class="list-group-item"><h4>Mental Wellness Association of Kenya (MWAK) - Helps with awareness, education & community support for mental health issues in Kenya.</h4>
                Contact Number: +254 748409735<br>
                <a class="link-info text-decoration-none" href="https://mentalwellnesskenya.org/" target="_blank">https://mentalwellnesskenya.org/</a></li>       
        </ul>
    </div>
</div>
{%endblock content%}